
Templates/RPG/_Custom/*
Templates/RPG/Intermediate/*
Templates/RPG/Saved/*

Templates/Local-Multiplayer/Intermediate/*
Templates/Local-Multiplayer/Saved/*

Templates/Dijkstra/Intermediate/*
Templates/Dijkstra/Saved/*

Templates/Object-Pooling/Intermediate/*
Templates/Object-Pooling/Saved/*

Templates/Platformer/Intermediate/*
Templates/Platformer/Saved/*
Templates/Platformer/.vs/*
Templates/Platformer/Binaries/*
Templates/Platformer/.idea/*

Templates/RPG/Intermediate/*
Templates/RPG/Saved/*

Templates/TowerDefense/Intermediate/*
Templates/TowerDefense/Saved/*

Templates/VFX/Intermediate/*
Templates/VFX/Saved/*