
Templates/TP_RPG/_Custom/*
Templates/TP_RPG/Intermediate/*
Templates/TP_RPG/Saved/*

Templates/TP_Local-Multiplayer/Intermediate/*
Templates/TP_Local-Multiplayer/Saved/*

Templates/TP_Dijkstra/Intermediate/*
Templates/TP_Dijkstra/Saved/*

Templates/TP_Object-Pooling/Intermediate/*
Templates/TP_Object-Pooling/Saved/*

Templates/TP_Cpp/Intermediate/*
Templates/TP_Cpp/Saved/*
Templates/TP_Cpp/.vs/*
Templates/TP_Cpp/Binaries/*
Templates/TP_Cpp/.idea/*

Templates/RPG/Intermediate/*
Templates/RPG/Saved/*

Templates/TP_TowerDefense/Intermediate/*
Templates/TP_TowerDefense/Saved/*

Templates/TP_VFX/Intermediate/*
Templates/TP_VFX/Saved/*

Templates/TP_AI/Intermediate/*
Templates/TP_AI/Saved/*