
Templates/RPG/_Custom/*
Templates/RPG/Intermediate/*
Templates/RPG/Saved/*

Templates/TP_Local-Multiplayer/Intermediate/*
Templates/TP_Local-Multiplayer/Saved/*

Templates/TP_Dijkstra/Intermediate/*
Templates/TP_Dijkstra/Saved/*

Templates/TP_Object-Pooling/Intermediate/*
Templates/TP_Object-Pooling/Saved/*

Templates/Platformer/Intermediate/*
Templates/Platformer/Saved/*
Templates/Platformer/.vs/*
Templates/Platformer/Binaries/*
Templates/Platformer/.idea/*

Templates/RPG/Intermediate/*
Templates/RPG/Saved/*

Templates/TP_TowerDefense/Intermediate/*
Templates/TP_TowerDefense/Saved/*

Templates/TP_VFX/Intermediate/*
Templates/TP_VFX/Saved/*